.drop-menu {
    width: 13.1%;
    position: absolute;
    top: 80px;
    left: 53.7%;
    list-style: none;
    text-align: start;
    z-index: 1000;
  }
 
 
  .drop-li{
    background: #1B4F72;
    cursor: pointer;
    z-index: 1000;
  }
  
  .drop-li:hover {
    background: #fff;
    z-index: 1000;
  }
  .drop-link:hover{
    color: #1B4F72;
    text-shadow: 0em 0em 0.1em rgba(161, 161, 161, 0.822);
    font-size: 18px;
    z-index: 1000;
  }
  
  .drop-menu.clicked {
    display: none;
  }
  
  .drop-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 15px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }