:root{
    --primary: #fff;
}

.bouton {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.bouton--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.bouton--outline {
    background-color: transparent;
    color: #fff;
    border: 1.5px solid var(--primary);
    transition: all 0.3s ease-out;
    text-shadow: 0.1em 0.1em 0.1em rgba(24, 24, 24, 0.959);

}

.bouton--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.bouton--large {
    padding: 12px 26px;
    font-size: 20px;
}

.bouton--medium:hover, .bouton--large:hover{
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
  text-shadow: 0.1em 0.1em 0.1em rgb(184, 182, 182);

}