h2{
    margin-top: 0%;
    padding-top: 0%;
    position: absolute;
    top: 14%;
    left: 39%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 150px; /* 3ordh l form lkol*/
    padding-right: 150px;
}

.container::before{
    content: "";
    display: table;
    box-sizing: border-box;
}

.search_block {
    margin-top: -160px;
    border: solid 5px #85C1E9;
    background: transparent;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 100px;
}
.white-bg {
    text-align: center;
    margin-bottom: -100px;
    height: 190px; /*3ordh l cadre labyedh*/   
}

.form-item label {
    height: 30px; /* mtaa où quand et combier d'invité*/
    line-height: 45px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #f1f1f1;
    text-align: center;
    left: 20px;
    right: 20px;
    opacity: 1;
}

.datepicker-embed {
    position: absolute;
    top: 45px;
    width: 100%;
    left: 0;
    z-index: 9999;
    padding: 0px 20px;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

 form .form-item {
    width: 33.333%;
    float: left;
    padding: 25px 20px; /**** espace binet où w choisir une ville*****/
    position: relative;
}

.form-text, .form-select {
    height: 50px;
    border-radius: 5px;
    background: #f1f1f1;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 25px;
    outline: none;
    font-size: 16px;
    font-weight: normal;
    color: rgb(114, 114, 114); /*couleur choisir une ville...*/
}

.white-bg {
    background: #fff;
    border-radius: 5px;
    padding: 80px 50px; /*3ordh les cadres gris où quand...*/
}

.button_start {
    border: solid 2px;
    height: 40px; 
    line-height: 36px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 20px;  /* position bouton commencer verticalement*/
    padding-left: 25px;
    padding-right: 25px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-color: #85C1E9;
    background-color: #85C1E9;
    color: #fff;
    display: inline-block;
    margin: 0% 40%;  /*position mtaa boutton commencer horizontalement*/
    margin-top: 0px;
    max-width: 250px;
}

.button_start:hover{
  transition: all 0.3s ease-out;
  background: #fff;
  border-color: #85C1E9;
  color: #85C1E9;
  transition: 250ms;
}

.link {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -70px;
    left: 0;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #928f8f;
    cursor: pointer;
}
.card {
    background: #f1f1f1;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 108%;
    object-fit: cover;
  }
