.home_part_concept {
    padding: 2rem;
    background: #e4e4e4;
    height: 800px;
}

.titre_h2 {
    text-align: center;
    display: block;
    color: #1B4F72;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 27px;
    position: relative;
    margin-bottom: 40px;

    text-shadow: 0em 0.1em 0em rgb(253, 253, 253);    
    margin-bottom: 0;
}

.titre_h3 {
    text-align: center;
    display: block;
    color: #1B4F72;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 35px;
    padding-bottom: 15px;
    position: relative;
    text-shadow: 0em 0.1em 0em rgb(253, 253, 253);    
    margin-bottom: 0px;
}

@media only screen and (min-width: 992px) {
    .concept_left {
        float: left;
        width: 50%;
    }
}
.home_part_concept .concept_left {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 120px;
    float: left;
    width: 50%;
    position: relative;
    top: 0px;
    height: 200px;
}

@media only screen and (min-width: 1200px) {
    .containerConcept {
        width: 1166px;
    }
}

@media only screen and (min-width: 992px) {
    .containerConcept {
        width: 960px;
    }
}

@media only screen and (min-width: 768px) {
    .containerConcept {
        width: 740px;
    }
}

.containerConcept {
    margin-left: 10%;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: -70px;
    margin-right: -500px; /* 3ordh les cadres*/
}



.bg {
    background: #fff;
    border-radius: 5px;
    padding: 0px 0px;
    padding-bottom: 85px; /*toul l bloc labyedh 3al lisar*/
    position: relative;
    bottom: 120px;

}

.home_part_concept .concept_left .bg p {
    line-height: 31px;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 20px;
    color: #484848;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .home_part_concept .concept_right {
        float: left;
        width: 50%;  
    }
}

.home_part_concept .concept_right {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.concept_list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.home_part_concept .concept_right .concept_list li {
    border-radius: 5px;
    background: #fff;
    padding-left: 100px;
    position: relative;
    margin-bottom: 10px;
}

.home_part_concept .concept_right .concept_list li i {
    height: 95px;
    width: 100px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

.item {
    padding: 22px 0px;
}
.home_part_concept .concept_right .concept_list li .item h4 {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: #484848;
    margin-bottom: 13px;
    font-weight: 800;
}
.home_part_concept .concept_right .concept_list li .item p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.concept_img{
    width:100%;
    height: 273px;
    z-index: 100;
    position: relative;
}

.icon {
    width: 10%;
    height: 60%;
    z-index: 100;
    position: absolute;
    top: 15%;
    left: 3%;
}
